{{- /* gotype: github.com/goxgen/goxgen/gqlgen_plugins.ResolverBuild */ -}}

{{- define "BaseTemplate" -}}

{{ header }}

package {{ .PackageName }}

import (
    "context"
    _ "embed"
    "encoding/json"
    "{{.ParentPackageName}}/generated_gqlgen"
)

//go:embed {{ .IntrospectionJsonFileName }}
var xgenIntrospectionJson []byte

// XgenIntrospection is the resolver for the XgenIntrospection field.
func (r *queryResolver) XgenIntrospection(ctx context.Context) (*generated_gqlgen.XgenIntrospection, error) {
    var intr generated_gqlgen.XgenIntrospection
    err := json.Unmarshal(xgenIntrospectionJson, &intr)
    if err != nil {
        panic(err)
        return nil, err
    }
    return &intr, nil
}

{{- end -}}