{{- /* gotype: github.com/goxgen/goxgen/graphql/introspection.ResolverBuild*/ -}}

{{- define "BaseTemplate" -}}

{{ header }}

package {{ .GeneratedGqlgenPackageName }}

import (
    _ "embed"
    "encoding/json"
)

// XgenIntrospection is the resolver for the XgenIntrospection field.
func XgenIntrospectionValues() (*XgenIntrospection, error) {
    var intr XgenIntrospection
    err := json.Unmarshal(
		[]byte(`{{ .IntrospectionData | toJson }}`),
		&intr,
	)
    if err != nil {
        panic(err)
        return nil, err
    }
    return &intr, nil
}

{{- end -}}