{{- /* gotype: github.com/goxgen/goxgen.EntProject */ -}}
{{- define "BaseTemplate" -}}
package schema

import (
    "entgo.io/contrib/entgql"
    "entgo.io/ent"
    "entgo.io/ent/schema"
    "entgo.io/ent/schema/edge"
    "entgo.io/ent/schema/field"
    "github.com/google/uuid"
)

type User struct {
    ent.Schema
}

func (User) Fields() []ent.Field {
    return []ent.Field{
        field.UUID("id", uuid.UUID{}).
            Default(uuid.New).
                Annotations(
                    entgql.OrderField("ID"),
                ),
        field.String("firstName").
            MaxLen(128).
                Annotations(
                    entgql.OrderField("FIRST_NAME"),
                ),
        field.String("lastName").
            MaxLen(128).
                Annotations(
                    entgql.OrderField("LAST_NAME"),
                ),
    }
}

func (User) Edges() []ent.Edge {
    return []ent.Edge{
        edge.To("cars", Car.Type).
            Annotations(entgql.RelayConnection()),
    }
}

func (User) Annotations() []schema.Annotation {
    return []schema.Annotation{
        entgql.RelayConnection(),
        entgql.QueryField(),
        entgql.Mutations(entgql.MutationCreate(), entgql.MutationUpdate()),
    }
}

{{- end -}}
