{{- /* gotype: github.com/goxgen/goxgen/graphql.ResolverBuild */ -}}

{{- define "BaseTemplate" -}}

{{ header }}

package {{ .PackageName }}

import (
    _ "embed"
    "encoding/json"
    "{{.ParentPackageName}}/{{.GeneratedGqlgenPackageName}}"
)

//go:embed {{ .IntrospectionJsonFileName }}
var xgenIntrospectionJson []byte

// XgenIntrospection is the resolver for the XgenIntrospection field.
func (r *Resolver) XgenIntrospection() (*{{.GeneratedGqlgenPackageName}}.XgenIntrospection, error) {
    var intr {{.GeneratedGqlgenPackageName}}.XgenIntrospection
    err := json.Unmarshal(xgenIntrospectionJson, &intr)
    if err != nil {
        panic(err)
        return nil, err
    }
    return &intr, nil
}

{{- end -}}