{{- /* gotype: github.com/goxgen/goxgen.ProjectGeneratorData*/ -}}
{{- define "BaseTemplate" -}}
// Copyright 2019-present Facebook Inc. All rights reserved.
// This source code is licensed under the Apache 2.0 license found
// in the LICENSE file in the root directory of this source tree.

//go:build ignore
// +build ignore

package main

import (
    "entgo.io/contrib/entgql"
    "entgo.io/ent/entc"
    "entgo.io/ent/entc/gen"
    "log"
)

func main() {

    gqlEx, err := entgql.NewExtension(
        entgql.WithSchemaGenerator(),
        entgql.WithSchemaPath("./ent.graphql"),
        entgql.WithWhereInputs(true),
    )
    if err != nil {
        log.Fatalf("creating entgql extension: %v", err)
    }

    err = entc.Generate(
        "./ent/schema",
        &gen.Config{
            Package: "github.com/goxgen/goxgen-demo/entproj/ent",
        },
        entc.Extensions(
            gqlEx,
        ),
    )
    if err != nil {
        log.Fatalf("running ent codegen: %v", err)
    }
}

{{- end -}}