{{- /* gotype: github.com/goxgen/goxgen.ProjectGeneratorData*/ -}}

{{- define "CLIServeGraphqlTemplate" -}}
func {{ print (.Name | indirect) "-serve-graphql" | camelcase }} (ctx *cli.Context) error {
    var log *zap.Logger
    if ctx.Bool("DevMode"){
        log, _ = zap.NewDevelopment()
    } else{
        log, _ = zap.NewProduction()
    }

    providedLevel:=ctx.String("LogLevel")
    level, err := zapcore.ParseLevel(providedLevel)
    if err != nil {
        log.Fatal("Unsupported log level", zap.String("provided", providedLevel))
    }
    log = log.WithOptions(zap.IncreaseLevel(level))

    defer log.Sync()

    isHttps := ctx.Bool("HTTPS")
    host := ctx.String("Host")
    port := ":" + strconv.Itoa(ctx.Int("Port"))
    appPath := strings.Trim(ctx.String("AppPath"), "/" )
    if appPath == ""{
        appPath = "/"
    } else{
        appPath = "/" + appPath + "/"
    }
    gqlURL := ctx.String("GraphqlURL")
    gqlURIPath := ctx.String("GraphqlURIPath")
    gqlPlaygroundURIPath := ctx.String("GraphqlPlaygroundURIPath")
    proto := "http://"
    gqlPlaygroundEnabled := ctx.Bool("GraphqlPlaygroundEnabled")

    if isHttps {
        proto = "https://"
    }

    if gqlURL == "" {
        gqlURL += proto + host + port + gqlURIPath
    }

	resolver, err := NewResolver(ctx)
	if err != nil {
		log.Fatal("Failed to create resolver", zap.Error(err))
	}

    srv := handler.NewDefaultServer(
        NewExecutableSchema(
            Config{
                Resolvers:  resolver,
                Directives: DirectiveRoot{
                //HasPermissions: HasPermission(),
                },
            },
	    ),
	)

	srv.AroundFields(func(ctx context.Context, next graphql.Resolver) (res interface{}, err error) {
		rc := graphql.GetFieldContext(ctx)
		fmt.Println("Entered", rc.Object, rc.Field.Name)
		res, err = next(ctx)
		fmt.Println("Left", rc.Object, rc.Field.Name, "=>", res, err)
		return res, err
	})


    if gqlPlaygroundEnabled{
        gqlPlaygroundURL := proto + host + port + gqlPlaygroundURIPath
        http.Handle(gqlPlaygroundURIPath, playground.Handler("{{ .Name }}", gqlURIPath))
		log.Info("Serving graphql playground", zap.String("url", gqlPlaygroundURL))
    }

	http.Handle(gqlURIPath, srv)

    log.Info("Serving graphql", zap.String("url", gqlURL))
	return http.ListenAndServe(port, nil)

}
{{- end -}}