{{- /* gotype: github.com/goxgen/goxgen/projects/gorm.TemplateData*/ -}}

{{- define "BaseTemplate" -}}

package {{.Name}}

import (
	"{{$.ParentPackageName}}/{{$.Name}}/{{$.GeneratedGqlgenPackageName}}"
	"github.com/goxgen/goxgen/plugins/cli/settings"
	"gorm.io/gorm"
	"embed"
	"fmt"
)

//go:embed tests/*
var TestsFS embed.FS

type Resolver struct {
	DB *gorm.DB
}

func NewResolver(sts *settings.EnvironmentSettings) (*Resolver, error) {
	r := &Resolver{}
	db, err := {{$.GeneratedGqlgenPackageName}}.NewGormDB(sts)
	if err != nil {
		return nil, fmt.Errorf("failed to create gorm db: %w", err)
	}
	r.DB = db

	return r, nil
}

{{- end -}}